



<div id="container" style="border: 0px solid gray; width: 300px; height: 300px; position:relative; overflow:hidden;">
  <div *ngFor="let voucher of vouchers"  style="position:absolute; width:100%; left: 0; top: 0; height: 100%; " [style.background-image]="voucher.src">
    
    <!-- a voucher can live here -->
      <div style="position: relative; width:100%; height: 100%; background-color:lime;" [@voucherState]="voucher.state">
        <img style="position:absolute" src="https://placekitten.com/300"/> 
        
        <div style="position:absolute;  width:100%; height: 100%; display:flex; justify-content: center; align-items: center; ">

          <div style="background-color: rgba(20,20,20,0.9); color: white; padding: 30px; font-size: 22px;">
            {{ voucher.value }} € 
          </div>
        
        </div>
      </div>
  </div>
</div>


<br><br>
  <div>
  <!--<input style="width:300px" type="range" min="50" max="500" step="25" [(ngModel)]="currentSliderValue" (ngModelChange)="onSliderChange($event)" />-->
  <input style="width:300px" type="range" min="0" [max]="vouchers.length -1" step="1" [(ngModel)]="currentSliderValue" (ngModelChange)="checkVouchers($event)" />
  </div>



  

